<!-- 标记为悬浮窗内的列表。这是一个单独的模板内
     因为它会被递归使用。免打扰列表指令允许
     砸元素融入引用数组。免打扰，可拖动指令
     使元素可拖动，将传递一个在该对象
     分配给它。如果一个元素被拖走，你必须删除
     它从原来的列表中自己使用的DND-移动属性 -->
<script type="text/ng-template" id="list.html">
    <ul dnd-list="list">
        <li ng-repeat="item in list"
            dnd-draggable="item"
            dnd-effect-allowed="move"
            dnd-moved="list.splice($index, 1)"
            dnd-selected="models.selected = item"
            ng-class="{selected: models.selected === item}"
            ng-include="item.type + '.html'">
        </li>
    </ul>
</script>

<!-- 这个模板是负责渲染的容器元素。它使用
     上面的列表模板来呈现每个容器列 -->
<script type="text/ng-template" id="container.html">
    <div class="container-element box box-blue">
        <h3>Container {{item.id}}</h3>
        <div class="column" ng-repeat="list in item.columns" ng-include="'list.html'"></div>
        <div class="clearfix"></div>
    </div>
</script>

<!-- 模板一个正常的列表项 -->
<script type="text/ng-template" id="item.html">
    <div class="item">项目 {{item.id}}</div>
</script>

<!-- 与dropzones和源代码主要区域 -->
<div class="col-md-10">
    <div class="row">
        <div ng-repeat="(zone, list) in models.dropzones" class="col-md-6">
            <div class="dropzone box box-yellow">
                <!-- 悬浮窗也使用列表模板 -->
                <h3>降落区 {{zone}}</h3>
                <div ng-include="'list.html'"></div>
            </div>
        </div>
    </div>

    <div view-source="nested"></div>

    <h2>生成的模型</h2>
    <pre>{{modelAsJson}}</pre>
</div>

<!-- Sidebar -->
<div class="col-md-2">

    <div class="toolbox box box-grey box-padding">
        <h3>新的元素</h3>
        <ul>
            <!-- 该工具箱只允许复制对象，而不是移动它。后一个新
                 元素被创造了，免打扰，复制被调用，我们生成一张ID -->
            <li ng-repeat="item in models.templates"
                dnd-draggable="item"
                dnd-effect-allowed="copy"
                dnd-copied="item.id = item.id + 1"
                >
                <button type="button" class="btn btn-default btn-lg" disabled="disabled">{{item.type}}</button>
            </li>
        </ul>
    </div>

    <div ng-if="models.selected" class="box box-grey box-padding">
        <h3>选</h3>
        <strong>类型: </strong> {{models.selected.type}}<br>
        <input type="text" ng-model="models.selected.id" class="form-control" style="margin-top: 5px" />
    </div>

    <div class="trashcan box box-grey box-padding">
        <!-- 如果你使用[]作为参考名单，被丢弃的元素都将丢失 -->
        <h3>Trashcan</h3>
        <ul dnd-list="[]">
            <li><img src="nested/trashcan.jpg"></li>
        </ul>
    </div>

</div>
